<div class="navbar" id="main-navigation">
	<div class="navbar-inner">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
      		<div class="collapse navbar-collapse" id="navbarSupportedContent">
          		<%= render_navigation renderer: :bootstrap %>
          	</div>
      	</nav>
	</div>
</div>