<div class="col-xs-4">
	<div class="row">
    	<div class="share-buttons pull-right">
      		<%= render_shareable :url => "http://contawords.iula.upf.edu", :buttons=> [ 'facebook', 'linkedin'] %>
    	</div>
    </div>
    <div class="row">
	    <div class="share-buttons pull-right">
    		<%= render_shareable :url => "http://contawords.iula.upf.edu", :buttons=> ['twitter', 'google_plus'] %>
    	</div>
  	</div>
</div>
