
    <div class="row">
      <div class="col-xs-6">
        <h4>Creditos</h4>
        <ul class="list-unstyled ">
          <li>
          <br />
          <p>
          ContaWords utiliza FreeLing<br />
          <a href="http://nlp.lsi.upc.edu/freeling">nlp.lsi.upc.edu/freeling</a>
          </p>
          <br />
          </li>

        <li>
        <p>
        ContaWords forma parte de la iniciativa europea CLARIN para la creación de Infraestructuras 
        para la investigación en Humanidades y Ciencias Sociales <br />
        <a href="http://www.clarin.eu">www.clarin.eu</a>
        </p>
        <br />

        </li>

        <li>
        <p>
        ContaWords ha sido parcialmente financiado por el "<i>Fons europeu de desenvolupament regional (FEDER), Programa operatiu FEDER de Catalunya 2007-2013, Objective 1</i>"
        </p>
        </li>
        </ul>
      </div>
  <div class="col-xs-6">
    <div class="row">
      <br />
      <br />
    </div>
     <div class="row">
      <br />
      <br />
    </div>

    <div class="row text-center">
        <h5>ContaWords ha sido desarrollado por el grupo IULA-TRL <br /> de la Universitat Pompeu Fabra <br /></h5>
        <a href="http://www.iula.upf.edu/trl/rpreses.htm">www.iula.upf.edu/trl/rpreses</a>
        <br />
        <br />
      <h5>¿Tienes alguna duda o sugerencia? <br /> </h5>
      <a href="mailto:iulatrl@upf.edu"> iulatrl@upf.edu </a>
    </div>
  </div>
    </div>
</div>








