
<div class="row">

  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-11">
        <h3>Frequently Asked Questions</h3>

      </div>
    </div>
  <div class="row">
    <div class="col-xs-11" id="faq">

<p>
<h5>What types of documents can I use?</h5>
PDF and text format (.txt)
</p>

<p>
<h5>Is it important that the text is encoded with UTF-8 characters?</h5>
Yes, ContaWords requires that the files in text format ( .txt ) use UTF -8 as character
encoding. You can choose this option when you save a document as type "Plain 
Text", "Text encoding" UNICODE (UTF -8) in programs such as Word, OpenOffice, etc. .
</p>


<p>
<h5>What if the text is in a language that is not listed?</h5>
ContaWords will not be able to recognize the parts of speech of words. So, although it
will count them, it will not make much sense.
</p>

<p>
<h5>What if the text is in Old Castilian?</h5>
ContaWords might make mistakes with some of the words that are not in its
dictionary. Soon we will have a version with more languages and varieties.
</p>


<p>
<h5>How well can ContaWords recognize entities?</h5>
ContaWords does not always correctly recognize entities, so it is best to also clean the
list!
</p>


<p>
<h5>Is it possible to use both uploaded files and files from the web simultaneously?</h5>
At the moment, no. We would suggest you to download the files anywhere on your
computer and upload them to ContaWords along with the ones you already have in 
your computer.
</p>

    </div>

  </div>
</div>


  <div class="col-xs-3">
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>

    <div class="row text-center">
      <h5>Any question or suggestion? <br /> </h5>
      <a href="mailto:iulatrl@upf.edu"> iulatrl@upf.edu </a>
    </div>
  </div>


</div>
</div>








