
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-11">
        <h3>Preguntas frecuentes</h3>

      </div>
    </div>
  <div class="row">
    <div class="col-xs-11" id="faq">

<p>
<h5>¿Qué tipo de documentos puedo usar?</h5>
PDF y en formato texto (.txt)</p>

<p>
<h5>¿Es importante que el texto se codifique con los caracteres en UTF-8?</h5>
Sí, ContaWords cuenta con que los archivos en formato texto (.txt) usen UTF-8 como es un
formato de codificación de caracteres. Puedes elegir esta opción al guardar un documento
como tipo “Texto sin formato”, “Codificación del texto” UNICODE (UTF-8) en programas como
Word, OpenOffice, etc.
</p>


<p>
<h5>¿Qué pasa si el texto está en un idioma que no está en la lista?</h5>
ContaWords no podrá reconocer la categoría gramatical de las palabras y las contará, sí, pero
sin mucho sentido.
</p>

<p>
<h5>¿Qué pasa si el texto está en castellano antiguo?</h5>
ContaWords se equivocará con algunas palabras que no están en su diccionario.
Próximamente tendremos una versión con más idiomas y variedades.
</p>


<p>
<h5>¿Cómo de bien reconoce las entidades?</h5>
ContaWords no siempre acierta con el reconocimiento de entidades, es mejor limpiar la lista,
sí!
</p>


<p>
<h5>¿Se pueden contar a la vez archivos cargados y archivos en la web?</h5>
Por ahora no, te sugerimos que te descargues los archivos en la web en tu ordenador y los
cargues en ContaWords junto con los que ya tenías en tu ordenador.
</p>

    </div>

  </div>
</div>


  <div class="col-xs-3">
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>

    <div class="row text-center">
      <h5>¿Tienes alguna duda o sugerencia? <br /> </h5>
      <a href="mailto:iulatrl@upf.edu"> iulatrl@upf.edu </a>
    </div>
  </div>


</div>
</div>








