
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-11">
        <h3>Preguntes freqüents</h3>

      </div>
    </div>
  <div class="row">
    <div class="col-xs-11" id="faq">

<p>
<h5>Quin tipus de documents puc utilitzar?</h5>
 PDF i format text (.txt)</p>

<p>
<h5>És important que es codifiqui el text amb els caràcters UTF-8?</h5>
Sí, ContaWords exigeix que els arxius en format text (.txt) utilitzin el format de 
codificació de caràcters UTF8. Pots elegir aquesta opció desant el document com a: 
“Text sense format”, “Codificació del text” UNICODE (UTF-8) en programes com 
Word, OpenOffice, etc.
</p>


<p>
<h5>Què passa si el text està en un idioma que no surt a la llista?</h5>
ContaWords no podrà reconèixer la categoria gramatical de les paraules; les comptarà, 
sí, però sense massa sentit.
</p>

<p>
<h5>Què passa si el text està en català antic?</h5>
ContaWords es podrà equivocar amb algunes de les paraules que no estan en el seu
diccionari. Aviat tindrem una versió amb més idiomes i varietats lingüístiques.
</p>


<p>
<h5>Com fa el reconeixement d’entitats?</h5>
ContaWords no sempre fa el reconeixement d’entitats de forma correcta. Per això
sempre és millor netejar la llista!
</p>


<p>
<h5>És possible utilitzar de forma simultània, tant els arxius carregats com els arxius 
enviats des del web?</h5>
Ara mateix no. Et suggerim que et descarreguis els arxius de la web al teu ordinador i
els pugis a ContaWords juntament amb els que ja tenies desats al teu ordinador.
</p>

    </div>

  </div>
</div>


  <div class="col-xs-3">
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>
    <div class="row">
      <br />
      <br />
    </div>

    <div class="row text-center">
      <h5>Tens algun dubte o suggeriment? <br /> </h5>
      <a href="mailto:iulatrl@upf.edu"> iulatrl@upf.edu </a>
    </div>
  </div>


</div>
</div>








