<div class="row">
  <div class="col-xs-7">
    <p class="lead">ContaWords counts the words of any texts as well as ...</p>
  </div>
  <%= render :partial => 'share_buttons' %>
</div>

<div class="row row-marketing row-headlines">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Classifies</strong></h4>
        <p>words as a noun, verb or adjective <br /> <br /> </p>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Recognizes</strong></h4>
        <p>whether words are proper nouns naming entities, people or organizations, such as "Bank of Spain"</p>
      </div>
    </div>
  </div>
</div>

<div class="row row-marketing row-headlines">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Finds</strong></h4>
        <p>sequences of words that are special, such as "monetary policy" and "absolute majority"</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>And with only one click</strong></h4>
        <p>the results are output in an excel sheet for you to filter and to select as you need.</p>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
	<div class="row row-marketing row-headlines" id="reviews-panel">
    	<div class="row">
    	  <div class="col-xs-12">
        <h3>User testimony</h3>
      </div>
    	</div>
  		<div id="mycarousel" class="row carousel slide">
    	<div class="col-xs-1" id="arrow-left">
    	  <a href="#mycarousel" class="btn btn-small" data-slide="prev"> <i class="glyphicon glyphicon-chevron-left"></i></a>
    	</div>
    	<div class="col-xs-1">
    	</div>
    	<div class="col-xs-9" id="reviews-canvas">
    	  <div class="carousel-inner">
        	<div class="item active">
        	  <ul class="list-unstyled">
        	    <li>
        	    	<p><strong>"It's so easy to generate a list of words from my documents and see the most frequent words"</strong> <br /><small>Lauren</small></p>
        	    	<p><strong>"I used it to follow the texts of the electoral campaign"</strong> <br /><small>David</small></p>
        	    	<p><strong>"It was easy to obtain the frequency of word sequences" </strong> <br /><small>Sheila</small></p>
        	    </li>
        	  </ul>
        	</div>
        	<div class="item">
        	  <ul class="list-unstyled">
        	    <li>
        		    <p><strong>"I only had to download the application and tell it where to find my texts" </strong> <br /><small>Marc</small></p>
        	    	<p><strong>"I just copied the URL of the text as it appeared in the digital library and in few minutes I got an excel with all of the word frequency information that I needed"</strong> <br /> <small>Mikel</small></p>
        	    	<p><strong>"I used ContaWords to analize product reviews and tweets"</strong><br /> <small>Silvia</small></p>
        	    </li>
        	  </ul>
        	</div>
      	</div>
    </div>
    	<div class="col-xs-1" id="arrow-right">
      <a href="#mycarousel" class="btn btn-small" data-slide="next"> <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    </div>
  </div>
</div>



