<div class="row">
  <div class="col-xs-7">
    <p class="lead">ContaWords compta les paraules dels textos que vulguis així com...</p>
  </div>
  <%= render :partial => 'share_buttons' %>
</div>


	<div class="row row-marketing row-headlines">
	  	<div class="col-xs-6">
    	<div class="panel panel-default">
    	  <div class="panel-body">
    	    <h4> <span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Classifica</strong></h4>
    	    <p>Les paraules com a substantius, verbs o adjectius <br /> <br /></p>
    	  </div>
    	</div>
  	</div>

  		<div class="col-xs-6">
  	  		<div class="panel panel-default">
  	    		<div class="panel-body">
  	    		  <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Reconeix</strong> </h4>
  	    		  <p>Si són noms propis de persones, d’organitzacions o d’entitats, com ara “Institut d’Estudis Catalans”</p>
  	   			</div>
  	  		</div>
  		</div>
	</div>

	<div class="row row-marketing row-headlines">
		<div class="col-xs-6">
    	<div class="panel panel-default">
      		<div class="panel-body">
        		<h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Troba</strong></h4>
        		<p>Seqüències de termes especials, com són “política monetària” o “majoria absoluta”</p>
      		</div>
    	</div>
 	  </div>
  		<div class="col-xs-6">
    		<div class="panel panel-default">
      			<div class="panel-body">
        			<h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>I amb només un clic</strong></h4>
        			<p> pots bolcar els resultats en un full Excel, on podràs filtrar i seleccionar les dades segons les teves necessitats</p>
      			</div>
    		</div>
  		</div>
	</div>



<div class="col-xs-12">
<div class="row row-marketing row-headlines" id="reviews-panel">
    <div class="row">
      <div class="col-xs-6">
        <h3>Opinions dels usuaris</h3>
      </div>
    </div>
  <div id="mycarousel" class="row carousel slide">
    <div class="col-xs-1" id="arrow-left">
      <a href="#mycarousel" class="btn btn-small" data-slide="prev"> <i class="glyphicon glyphicon-chevron-left"></i></a>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-9" id="reviews-canvas">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="list-unstyled">
            <li>
              <p><strong>"Jo l'he util·litzat per analitzar pàgines d'opinió i piulades"</strong><br /> <small>Silvia</small></p>
              <p><strong>"És molt fàcil generar una llista de les paraules que surten als meus documents i veure quines són les més freqüents"</strong> <br/><small>Lauren</small></p>
              <p><strong>"Em va ser útil per fer el seguiment dels textos de la campanya electoral"</strong><br /> <small>David</small></p>
            </li>
          </ul>
        </div>
        <div class="item">
          <ul class="list-unstyled">
            <li>
              <p><strong>"Va ser fàcil obtenir la freqüència de seqüències de paraules" </strong> <br /><small>Sheila</small></p>
              <p><strong>"Només cal baixar-se l'aplicació i dir-li l'adreça web dels textos" </strong> <br /><small>Marc</small></p>
              <p><strong>"Vaig copiar l'adreá del text tal i com la posava a la biblioteca digital i en una estona em va fer l'Excel amb tota la informació de freqüència que necessitava"</strong> <br /> <small>Mikel</small></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-1" id="arrow-right">
      <a href="#mycarousel" class="btn btn-small" data-slide="next"> <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    </div>
</div>
</div>

