<div class="row">
  <div class="col-xs-7">
    <p class="lead">
ContaWords cuenta las palabras de los textos que quieras y ...
    </p>
  </div>
  <%= render :partial => 'share_buttons' %>
</div>

<div class="row row-marketing row-headlines">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Clasifica</strong></h4>
        <p> las palabras según si son nombres, verbos o adjetivos <br /> <br /> </p>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Reconoce</strong> </h4>
        <p> si son nombres propios de personas, organizaciones y entidades, por ejemplo “Banco de España”
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row row-marketing row-headlines">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i> <strong>Encuentra</strong></h4>
        <p> secuencias de palabras especiales, como “política monetaria” o “mayoría absoluta” </p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4><span class="bullet"></span><i class="glyphicon glyphicon-check"> </i>  <strong>Con un solo botón</strong> </h4>
        <p> obtienes los datos en una hoja Excel para que puedas filtrarlos y seleccionarlos fácilmente y a tu manera </p>
      </div>
    </div>
  </div>
</div>


<div class="col-xs-12">
	<div class="row row-marketing row-headlines" id="reviews-panel">
    	<div class="row">
      <div class="col-xs-12">
        <h3>Opiniones de usuarios</h3>
      </div>
    </div>
  		<div id="mycarousel" class="row carousel slide">
    	<div class="col-xs-1" id="arrow-left">
      <a href="#mycarousel" class="btn btn-small" data-slide="prev"> <i class="glyphicon glyphicon-chevron-left"></i></a>
    </div>
    	<div class="col-xs-1"></div>
    	<div class="col-xs-9" id="reviews-canvas">
      <div class="carousel-inner">
        <div class="item active">
          <ul class="list-unstyled">
            <li>
<p><strong>"Es muy fácil generar una lista de las palabras de mis documentos  y ver las más frecuentes"</strong> <br /><small>Lauren</small></p>
<p><strong>"Lo utilizamos para seguir los textos de la campaña electoral"</strong> <br /><small>David</small></p>
<p><strong>"Fue fácil obtener la frecuencia de secuencias de palabras" </strong> <br /><small>Sheila</small></p>
            </li>
          </ul>
        </div>
        <div class="item">
          <ul class="list-unstyled">
            <li>
<p><strong>"Solamente hay que bajarse la aplicación y decirle donde encontrar mis textos" </strong> <br /><small>Marc</small></p>
<p><strong>"Copié la dirección del texto tal como la ponía en la biblioteca digital y en un rato me hizo un excel con toda la información de frecuencia de palabras que necesitaba"</strong> <br /> <small>Mikel</small></p>
<p><strong>"Yo lo he utilizado para analizar páginas de opinión y tweets"</strong><br /> <small>Silvia</small></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    	<div class="col-xs-1" id="arrow-right">
      <a href="#mycarousel" class="btn btn-small" data-slide="next"> <i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
    </div>
  	</div>
</div>



