
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-11">
        <h4>Què fa ContaWords?</h4>
        <p>El primer que fa ContaWords quan li encarregues una tasca, és llegir les paraules d’un
arxiu de text i decidir quina categoria gramatical té cadascuna per després assignar-li el 
seu lema (vol-Substantiu però vol-Verb-voler). A continuació comença a comptar 
quantes vegades apareix una paraula en el text en totes les formes possibles (vull, 
vols, vol,... etc.).</p>

<p>
ContaWords, a més té en compte que una seqüència de paraules pot ser, per exemple, 
el nom d’una organització, d’una persona o d’una entitat (Named Entity Recognition o 
Reconeixement d’Entitats amb Nom).
</p>

<p>
ContaWords també troba seqüències de dues paraules que apareixen juntes més sovint
del que seria d’esperar, com: “política monetària” o “balança fiscal”. També pot ser útil 
per al teu estudi!
</p>

      </div>
    </div>
  <div class="row">
    <div class="col-xs-11">
      <h4>Executant ContaWords</h4>

      <p>
      ContaWords, per a cada tasca que li encarregues, posa tots els resultats en un sol arxiu
      de full de càlcul (un fitxer Excel, .xls) que et pots descarregar en acabar la tasca.
      </p>

      <p>
      Pots executar múltiples ContaWords al mateix temps: quan ContaWords comença a 
      comptar apareixerà a “Resultats” com a estat “En progrés” i quan la tasca s’hagi acabat, 
      l’estat canviarà a “Acabat”. 
      </p>

      <p>
      Quan l’estat estigui “En progrés”, pots copiar les URLs de nous textos i clicar per 
      executar ContaWords de nou.
      </p>

      <p>
      Per la part de ContaWords, això és tot. Ara és el teu torn! Pots ordenar les paraules per 
      veure els noms que surten més sovint, o mirar si hi ha molts adjectius negatius, o … 
      descobrir els nous usos de la informació que ContaWords proporciona.
      </p>
    </div>

  </div>
</div>


  <div class="col-xs-4 pull-right">
    <div class="row">
      <br />
      <br />
      <div class="panel">

        <h5>Format dels resultats.<small>  Fitxer .xls </small></h5>
En cada taula del fitxer Excel, podràs trobar la informació següent:
        <br />
        <ul class="list-unstyled">
          <li>
          <strong>A-</strong> Una visió general;
          </li>
          <li>
          <strong>B-</strong> Recompte de freqüència de categories gramaticals: noms, adjectius i verbs,
          per separat;
          </li>
          <li>
          <strong>C-</strong> Entitats;
          </li>
          <li>
          <strong>D-</strong> Recompte de freqüència absoluta de les combinacions de 2 paraules que
          ContaWords hagi considerat significants;
          </li>
          <li>
          <strong>E-</strong> Recompte de freqüència absoluta de lemes diferents (totes les categories
          gramaticals);
          </li>
          <li>
          <strong>F-</strong> Recompte de freqüència absoluta de les paraules per forma (totes les
          categories gramaticals);
          </li>
          <li>
          <strong>G-</strong> Recompte de freqüència absoluta de les seqüències de dues paraules per
          lema.
          </li>
        </ul>

      </div>
    </div>

    <div class="row text-center">
      <h5>MÉS INFORMACIÓ <br /> <small>sobre les eines per als textos</small></h5> 
      <ul class="list-unstyled">
        <li><a href="http://clarin-es-lab.org">http://clarin-es-lab.org</a> <br /></li>
        <li><a href="http://clarin-cat-lab.org">http://clarin-cat-lab.org</a></li>
      </ul>
    </div>

  </div>


</div>
</div>

