
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-11">
        <h4>What does ContaWords do?</h4>
        <p>When you give ContaWords a task, it first reads the words of a text file and decides
what part of speech to assign to each word (credit-Noun-credit but credit-Verb-to_credit).
It then begins to count how many times a word appears in the text in every possible way
(credits, credit, credited… etc).</p>

        <p>ContaWords can also take into account that a sequence of words can, for example, be the
name of an organization, a person or an entity (Named Entity Recognition).</p>

        <p>Besides all this, ContaWords can find sequences of two words that seem to appear
together more often than would be expected, such as "monetary policy " or "fiscal
balance ". Maybe it can be useful for your study, too!</p>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-11">
      <h4>Using Contawords</h4>

      <p>
      For each task that you give to ContaWords, it puts all of your results into a single
spreadsheet file (Excel file; .xls) that you can download when all of the tasks are finished.
      </p>


      <p>You can run multiple ContaWords simultaneously: when ContaWords starts to count, the
status “In Progress” will appear in "Results" and when the task is complete the status will
change to “Finished”.</p>

<p>
When the status is “In Progress”, you can already copy the URLs of new texts and click to
run ContaWords again.

</p>

<p>
The above is all done with ContaWords. Now it's your turn! You can sort the words to
see the most frequent nouns, or look to see if there are many negative adjectives, or ...
you can discover new uses for the information provided by ContaWords.
</p>
    </div>

  </div>
</div>


  <div class="col-xs-4">
    <div class="row">
      <br />
      <br />
      <div class="panel">

        <h5> Results format <small> .xls file</small></h5>
In each tab of the Excel file, you will find the following information:
        <br />

        <ul class="list-unstyled">
          <li><strong>A-</strong> A general overview;</li>
          <li><strong>B-</strong> Frequency counts for each individual part-of-speech: nouns, adjectives and verbs;</li>
          <li><strong>C-</strong> Entities;</li>
          <li><strong>D-</strong> Absolute frequency count for combinations of 2 words that ContaWords has deemed “significant”;</li>
          <li><strong>E-</strong> Absolute frequency count for different lemmas (all parts of speech)</li>
          <li><strong>F-</strong> Absolute frequency count for words by form (all parts of speech)</li>
          <li><strong>G-</strong> Absolute frequency count for two word sequences by lemma</li>
        </ul>

      </div>
    </div>

    <div class="row text-center">
      <h5> MORE INFORMATION <br /> <small>about tools for texts</small></h5>
      <ul class="list-unstyled">
        <li><a href="http://clarin-es-lab.org">http://clarin-es-lab.org</a> <br /></li>
        <li><a href="http://clarin-cat-lab.org">http://clarin-cat-lab.org</a></li>
      </ul>
    </div>

  </div>


</div>
</div>








