
<div class="row">

  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-11">
        <h4>¿Qué hace ContaWords?</h4>
        <p>
        Cuando le encargas una tarea, lo primero que hace ContaWords es leer las palabras de un
        archivo de texto y decidir qué categoría gramatical tiene cada una para luego asignarle su lema
        (abono-Nombre-abono pero abono-Verbo-abonar). Ahora ya se pone a contar cuantas veces
        aparece una palabra en el texto en todas las formas posibles (abono, abonas, abonan… etc.).
        </p>

        <p>
        ContaWords, además, tiene en cuenta que una secuencia de palabras puede, por ejemplo, ser
        el nombre de una organización, de una persona, de una entidad (Named Entity Recognition o
        Reconocimiento de Entidades con Nombre).
        </p>

        <p>
        ContaWords también encuentra secuencias de dos palabras que parecen aparecer juntas
        más frecuentemente de lo que sería esperable: “política monetaria” o “balanza fiscal”. Quizá
        tengan sentido para tu estudio.
        </p>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-11">
      <h4>Ejecutando Contawords</h4>

      <p>
      ContaWords, para cada tarea que le encargas, pone los resultados de todas estas cuentas en
      un único fichero de hoja de cálculo (un fichero Excel) que puedes descargarte al finalizar la
      tarea.
      </p>


      <p>
      Puedes ejecutar varios ContaWords al mismo tiempo: cuando ContaWords empieza a contar
      aparece en “Resultados” con un “Estado” Contando mientras está contando y Finalizado
      cuando ya ha acabado el trabajo.
      </p>

      <p>Ya cuando está en Contando puedes encargarle nuevas tareas a ContaWords.</p>

      <p>
      Esto es todo por parte de ContaWords. Ahora es tu turno! Puedes ordenar las palabras para
      ver los nombres más frecuentes, o mirar si hay muchos adjetivos negativos, o … descubre
      nuevos usos de la información que ContaWord proporciona. “
      </p>
    </div>

  </div>
</div>


  <div class="col-xs-4">
    <div class="row">
      <br />
      <br />
      <div class="panel">

        <h5> Formato de los resultados. <small> Fichero .xls </small></h5>
        En pestañas diferentes aparecen todos los recuentos:
		<br />
        <ul class="list-unstyled">
          <li>
          <strong>A-</strong> una visión general;
          </li>
          <li>
          <strong>B-</strong> recuento de frecuencia de lemas de nombres, adjetivos y verbos, por separado;
          </li>
          <li>
          <strong>C-</strong> entidades;
          </li>
          <li>
          <strong>D-</strong> recuento de la frecuencia absoluta de las combinaciones de 2 palabras que ContaWord
          cree especiales;
          </li>
          <li>
          <strong>E-</strong> recuento de la frecuencia absoluta de lemas diferentes (todas las categorías
          gramaticales)
          </li>
          <li>
          <strong>F-</strong> recuento de la frecuencia absoluta de las palabras por forma (todas las categorías
          gramaticales)
          </li>
          <li>
          <strong>G-</strong> recuento de la frecuencia absoluta de las secuencias de dos palabras por lema
          </li>
        </ul>

      </div>
    </div>

    <div class="row text-center">
      <h5>MÁS INFORMACIÓN <br /> <small>sobre herramientas para textos</small></h5> 
      <ul class="list-unstyled">
        <li><a href="http://clarin-es-lab.org">http://clarin-es-lab.org</a> <br /></li>
        <li><a href="http://clarin-cat-lab.org">http://clarin-cat-lab.org</a></li>
      </ul>
    </div>

  </div>


</div>
</div>








