// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.hidden {
  display:none;
}

/* Custom container */
.container-narrow {
  margin: 10 auto;
  width: 940 auto;
  //width: 940px;
  //margin-right: 100px;
  
}
.container-narrow > hr {
  margin: 30px 0;
}


#header-left{

  #logo-cw{
    float: left;
    margin-left: 40px;
  }
  #jumbo-name{
    margin-top: 45px;
    margin-left: 15px;
    float: left;
      letter-spacing: -1px;
    span.blue{
      color: #0e7df0;
    }
  }
  #logo-clarin{
    float: left;
    margin-top: 85px;
    margin-left: -200px;
  }
}

#header-right{
 margin-right: 0px;
	#lang_selector_style{
    	float: right;
    	margin-right: 0px;
  	}
  
}

div.main{
  margin-top: 20px;

  p.lead{
    letter-spacing: -0.5px;
    color: #4f4f4f;
    font-size: 18px;
  }
}

#nav_row{
  margin-top: 50px;
}

#reviews-panel{
  border: 1px solid #a6a6a6;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  padding: 3px 10px 15px 25px;
  margin-top: 25px;
  
  margin-left: 1px;
  background-color: #d8deed;
  height: 240 auto;
  width: 940 auto;
  //width: 845px;
  h3 {
  padding-left: 20px;

  }
  #arrow-left{
    width: 25px;
    margin: 0px;
    margin-top: 50px;
  }
  #arrow-right{
    width: 25px;
    margin: 0px;
    margin-top: 50px;
  }
  #reviews-canvas{
    
    //width: 845px;
  }

  h4{
    padding-left: 23px;
  }

}

div.panel{
  border: 1px solid #a6a6a6;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  padding: 3px 10px 5px 25px;
  padding-left: 25px;
  margin-bottom: 1.5em;
  
  h4{
    line-height: 24px;
  }

  /*p {*/
    /*padding-left: 24px;*/
  /*}*/

}


div.footer{
  background: transparent url("/assets/bottom-line.png") no-repeat bottom;
  padding-bottom: 30px;
  padding-top: 50px;
  text-align: center;
  span{ margin-top: 20px; }
  img {
    display: inline-block;
    margin-left: 20px;
    vertical-align: bottom;
  }
}

span.bullet{
  display: block;
  float: left;
  /*width: 21px;*/
  /*height: 24px;*/
  /*background: transparent url('/assets/bullet.png') no-repeat 0px 0px;*/
}

h3 span.bullet{
  margin-top: 5px;

}

#input_files_row {
  min-height: 330px;
  text-area {
    width: 100%;

  }
}
#execution_input_parameters_inputs_language{
  width: 300px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#panel-no-files{
  padding-top: 100px;
  border-color: #bbb;

  a {
  color: #999;
  font-size: 20px;
  text-decoration: none;
  i {
    font-size: 40px;
    padding-right: 5px;

  }
    &:hover{
      color: #333;
    }
  }
  span#or {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#no-files{
  font-size: 16px;
  color: #999;
}

#panel-upload {
  background-color: #EEE;
  padding-top: 5px;
  padding-left: 5px;
}

#faq {
  p{
    margin-bottom: 30px;


  }


}

th.select-box {
  width: 30px;
}
nav.share {
  display: inline-block;
  div {
    float: left;
  }
  iframe {
    border: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

/* shareable's nav tag */

/* if using medium sized buttons */

#___plusone_0 {
  font-size: default !important;
}

.fb_iframe_widget span, .fb_edge_widget_with_comment {
  vertical-align: top;
}

.fb-like {
  display: inline-block;
}